.weather-header {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 51%, rgba(49,47,144,0.9836309523809523) 82%) !important;
}
.search-button,
.form-input {
    margin-top: 10px;
    width: 100%;
}
.form {
    width:100%
}
.today-border {
    border: 1px solid #000;
}
.iconImg {
    width: 5%;
    height:auto
}
.forecastIconImg {
    width: 25%;
}
.eachDay {
    background-color: #090979
}